{% extends "layouts/main.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-9">
                                <h4 style="margin: 10px 0;">Multi Contact Form</h4>
                            </div>
                            <div class="col-md-1" >
                                <a href="" class="btn btn-primary btn-md pull-right" id="btn-save" style="margin: 10px 0;">Save</a>
                            </div>
                            <div class="col-md-1" >
                                <a href="" class="btn btn-primary btn-md pull-right" id="btn-validate" style="margin: 10px 0;">Validate</a>
                            </div>
                            <div class="col-md-1" >
                                <a href="" class="btn btn-primary btn-md pull-right" id="btn-add" style="margin: 10px 0;">Add</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="index.php?route=/multicontact-form/save/" id="main-form" accept-charset="UTF-8" class="form bv-form">
                            <div id="forms-container" class="row"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form items template -->
        <div class="col-md-6 col-sm-12" id="form-template">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Contact</h4>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="btn btn-danger btn-md pull-right btn-delete" style="margin: 10px 0;">Remove</a>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label for="name">Name <span class="required">*</span></label>
                        <input type="text" name="name[]" placeholder="Name" class="form-control" value="Oscar Martinez" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label for="email">Email <span class="required">*</span></label>
                        <input type="text" name="email[]" placeholder="Email" class="form-control" value="oscar@abc.com" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label for="phone_number">Phone Number <span class="required">*</span></label>
                        <input type="text" name="phone_number[]" placeholder="Phone Number" class="form-control" value="1111111" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Validation error modal -->
    <div id="validation-errors-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Validation error</h4>
                </div>
                <div class="modal-body">
                    <p>Please fix the inputs error before submit</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="js/MultiContactForm.js"></script>
    <script>
    </script>
{% endblock %}