{% extends "layouts/main.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 style="margin: 10px 0;">Hotel set-up</h3>
                            </div>
                            <div class="col-md-2" >
                                <a href="/hotels/create/" class="btn btn-primary btn-md pull-right" style="margin: 10px 0;">Add Hotel</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <p>The following is the list of hotels for  {!!  Session::get('Hotel.name') !!}, click on edit to view the selected hotel</p>
                        <div class="table-responsive">
                            <table class="table table-bordred table-striped">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Titulo</td>
                                        <td>
                                            <a href="{!! route('hotel.show', $hotel->id) !!}">Nombre</a>
                                        </td>
                                        <td>Satus</td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="" data-original-title="Edit">
                                                <a href="{!! route('hotel.edit', $hotel->id) !!}" class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </p>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="" data-original-title="Delete">
                                                <a class="btn btn-danger btn-xs">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
